@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
  font-family: "Grotesk";
  src: url('./assets/fonts/FoundersGrotesk-Semibold.woff2'),
       url('./assets/fonts/FoundersGrotesk-Semibold.woff');
}

@font-face {
  font-family: "Roboto";
  src: url('./assets/fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700.woff2'),
       url('./assets/fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff');
}

@font-face {
  font-family: "NeueMontreal";
  src: url('./assets/fonts/NeueMontreal-Regular.woff2');
}

:root{
  --HeadingText : #212121;
  --darkGreen: #004D43;
  --HeadingWhite: #FFFFFF;
  --lightGreenBorder: #4D837C;
  --lightGreen: #CDEA68;
  --yellowBubble: #F7E835;
  --grayText: #B2B2B2;
}

*{
  user-select: none;
}

@layer base{
  body{
    @apply bg-[var(--HeadingWhite)] overflow-x-hidden;
  }
  p{
    @apply font-[NeueMontreal];
  }
  
  h1{
    @apply font-[Grotesk] font-[500] md:font-[600]  text-5xl  sm:text-6xl md:text-8xl tracking-wider md:tracking-tight lg:text-9xl 
    text-[var(--HeadingText)] uppercase;
  }

  img{
    @apply w-full object-cover aspect-square sm:aspect-video md:aspect-[4/3] lg:aspect-[16/9] overflow-hidden;
  }
  svg path{
    @apply transition-all duration-100 delay-150;
  }

  .overlay a{
    @apply text-[var(--HeadingWhite)] text-base md:text-xl block font-[NeueMontreal] border-b-1 border-white w-fit;
  }

  .overlay span{
    @apply text-[var(--HeadingWhite)] text-base block font-[NeueMontreal] md:text-xl;
  }

  nav p{
    @apply cursor-pointer;
  }

  i{
    @apply text-black font-extralight;
  }
}

@layer components{
  .overlay{
    @apply w-full min-h-screen bg-[var(--HeadingText)] fixed inset-0 
    top-0 left-0 z-[40] translate-y-[-100%] transition-all 
    ease-in-out duration-350 overflow-y-auto;
  }
  .overlay-p{
    @apply text-[var(--HeadingWhite)] font-[Grotesk] text-7xl md:text-9xl space-x-0.5 tracking-tight uppercase;
  }
  .bars{
    @apply w-6 md:w-10 md:border-2  border-1 my-1 rounded-lg transition-all duration-300 ease-in-out origin-center;
  }
  .mask{
    @apply border-0 overflow-hidden p-1 w-fit h-fit;
  }
  .mask h1{
    @apply  leading-[0.7] tracking-tight font-semibold border-0 whitespace-nowrap;
  }
  .btnWhite{
    @apply font-[NeueMontreal] text-base lg:text-[var(--HeadingText)] uppercase border-1 border-[var(--HeadingText)] 
    px-5 py-1 tracking-tight rounded-full leading-tight cursor-pointer lg:transition-all lg:duration-500
    lg:hover:bg-[var(--HeadingText)] lg:hover:text-[var(--HeadingWhite)] whitespace-nowrap active:scale-95 bg-[var(--HeadingText)]
    text-[var(--HeadingWhite)] lg:bg-transparent;
  }
  .marquee{
    @apply bg-[var(--darkGreen)] max-h-screen py-25 rounded-tr-3xl rounded-tl-3xl overflow-hidden;
  }
  .about{
    @apply bg-[var(--lightGreen)] min-h-screen w-full rounded-tr-2xl rounded-tl-2xl -mt-6 px-4 pt-10 lg:px-20 lg:pt-32
    rounded-bl-2xl rounded-br-2xl;
  }
  .about p{
    @apply font-[NeueMontreal] text-[var(--HeadingText)] leading-[1] text-4xl md:text-5xl lg:text-6xl w-full;
  }
  .btnBlack{
    @apply font-[NeueMontreal] text-[var(--HeadingWhite)] text-base bg-[var(--HeadingText)] uppercase pl-8 pr-4 py-4
    rounded-full flex items-center justify-between gap-5 cursor-pointer;
  }
  .eyes{
    @apply font-[NeueMontreal] h-screen overflow-hidden p-2;
  }
  .featured{
    @apply font-[NeueMontreal] w-full min-h-screen rounded-tr-2xl rounded-tl-2xl bg-[var(--HeadingWhite)];
  }
  .maskCard{
    @apply  absolute left-0 w-full h-fit hidden text-center lg:flex justify-center overflow-hidden  z-[80];
  }

  .maskCard h1{
    @apply pointer-events-none;
  }
  .client{
    @apply bg-[var(--HeadingWhite)] font-[NeueMontreal] min-h-screen w-full;
  }

  .maskCrads{
    @apply h-[50vh]  overflow-hidden rounded-md;
  }

  .maskCrads img{
    @apply w-full h-full object-cover transition-all duration-500 ease-in-out relative;
  }

  .ftop{
    @apply flex flex-col lg:flex-row justify-between w-full px-4;
  }

  .fcontent{
    @apply flex flex-col lg:flex-row  justify-between  w-full py-6 px-4;
  }

  .paramlink{
    @apply border-b-1 w-fit leading-[1.2] mt-2 text-[var(--HeadingText)];
  }
}

.anim{
  animation: anim 3s infinite;
}

@keyframes anim{
  0%{
    transform: translateY(-100%);
  }
  30%{
    transform: translateY(90%);
  }
  45%{
    transform: translateY(90%);
  }
  60%{
    transform: translateY(90%);
  }
  100%{
    transform: translateY(200%);
  }
}

@media (max-width:340px) {
  .media{
    display: none;
    opacity: 0;
  }
  .about p{
    font-size: 1.5rem;
    line-height: 0.9;
  }
}




